/* Reset */
@import "tailwindcss/base";
@import "reset";
@import "custom";

/* Components */
@import "tailwindcss/components";
@import "buttons";
@import "form";
@import "nprogress";

/* Utilities */
@import "tailwindcss/utilities";

.title-login{
    font-size: 30px;
    text-align: center;
}

.login-page{
    background-color: #52aa8ad6;
}

.button-green{
    background-color: #136F63;
}

.light-green{
    background-color: #52aa8ad6;
}

.main-menu-color{
    color: #136F63;
}

.logo{
    color: white;
    font-size: 20px;
}


@media(min-width: 1024px) {
    .card {
        display: inline-block;
        margin-right: 10px;
        width: 340px;
        height: 420px;
        margin-bottom: 10px;
    }
    .menu-width{
        width: 15rem !important;
    }

}
@media(min-width: 380px)and (max-width:1024px){
    .card {
        margin-left: auto;
        margin-right: auto;
        width: 340px;
        height: 400px;
        margin-bottom: 10px;
    }
    .priority-low{
        display:none;
    }
    .menu-width{
        width: 15rem !important;
    }
}

@media(max-width: 380px){
    .card {
        margin-left: auto;
        margin-right: auto;
        width: 280px;
        height: 400px;
        margin-bottom: 10px;
    }
    .priority-low{
        display:none;
    }

}

.reservation-button{
    display:inline-block;
}

.px-8{
    background-color: #52aa8a;
}


